<!-- Model attributes: participations, birthdays -->
<!-- 	  + set navigation - see layout.html -->
<!--      message is for messages from controller (eg.You've successfully canceled your part. request.) -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/css/core.css}" />
    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <title>Home</title>
</head>
<body>
<div class="wrap">
<div th:include="layout :: head"></div>

<div id="main">
<div class="container-fluid">
	<div th:include="layout :: left"></div>
	<div class="jumbotron navbar-left">
        <h3>Home</h3>
        <p><small>View all participation requests</small></p>
        <p>
			<!-- <a class="btn btn-info btn-large" href="./home.html" th:href="@{/admin}">Home</a> -->
			<a class="btn btn-primary btn-large" href="/logout" th:href="@{/logout}">Logout</a>
        </p>
    </div>
    <div class="col-md-3">
	<th:block th:unless="${#lists.isEmpty(birthdays)}">
		<h4 class="text-center">Today's Birthdays</h4>
		<table class="table table-hover table-condensed products-table" style="margin-bottom:25px;">
			<tr th:each="employee,stat : ${birthdays}">
				<td th:text="${employee.firstName}+' '+${employee.lastName}">Juraj Longo</td>
				<td th:text="${employee.department}">Marketing</td>
				<td>Age <span class="badge" th:text="${employee.age}">52</span></td>
			</tr>	
		</table>
	</th:block>
	<th:block th:if="${#lists.isEmpty(birthdays)}">
    	<div class="alert alert-info" style="margin-bottom:25px;">There are no birthdays today.</div>
    </th:block>
	</div>
    <div style="width: 1px; margin-bottom: -20px">&nbsp;</div>
    
    <th:block th:if="${message != null}">
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">&nbsp;</div>
    </th:block>

<div class="" > <!-- col-md-12 -->
	<th:block th:if="${#lists.size(participations)} >= 1"> <!-- th:unless="${#lists.isEmpty(participations)}" -->
    <table class="table table-hover products-table" style="margin-bottom:8px;">
		<thead>
			<tr>
          		<th>Type</th>
          		<th>Event</th>
          		<th>Place</th><!--  -->
          		<th>Event Date</th><!--  -->
          		<th>Employee</th>
          		<th>Position</th>
          		<th>Department</th>
          		<th>Telephone</th>
          		<th>Email</th>
				<th>Approve</th>
				<th>Deny</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p,stat : ${participations}">
				<td th:text="${p.eventID.type}">Meeting</td>
				<td th:text="${p.eventID.name}">Annual Meeting</td>
				<td th:text="${p.eventID.place}">Office</td>
				
  				<!-- Today is: <span th:text="${#calendars.format(today,'dd MMMM yyyy')}">13 May 2011</span> -->
				<td th:text="${#dates.format(p.eventID.dateTime)}">2014-05-01 10:00</td>
				
				<td th:text="${p.employeeID.firstName}+' '+${p.employeeID.lastName}">Juraj Longo</td>
				<td th:text="${p.employeeID.position}">Manager</td>
				<td th:text="${p.employeeID.department}">Marketing</td>
				<td th:text="${p.employeeID.telephone}">191708654333</td>
				<td th:text="${p.employeeID.email}">juraj.longo@bluepumpkin.com</td>
				<td>
					<a th:href="@{/admin/participations/{id}/approve(id=${p.id})}" href="#" class="btn btn-large btn-success">
					<big class="glyphicon glyphicon-ok"></big></a>
				</td>
				<td>
					<a th:href="@{/admin/participations/{id}/deny(id=${p.id})}" href="#" class="btn btn-large btn-danger">
					<big class="glyphicon glyphicon-remove"></big></a>
				</td>
			</tr>
		</tbody>
    </table>
    </th:block>
    <th:block th:if="${#lists.isEmpty(participations)}">
    	<div class="alert alert-warning">There are <strong>no</strong> participation requests.</div>
    </th:block>
</div> <!-- /.col-md-12 -->

</div> <!-- /.container -->
</div> <!-- /.main -->
</div> <!-- /.wrap -->

<div th:include="layout :: foot"></div>
</body>
</html>