<!-- Model attributes: pastEvents -->
<!-- 	  navigation - see layout.html -->
<!--      message is for massages from controller -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/css/core.css}" />
    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <title>Past Events</title>
</head>
<body>

<div class="wrap">
<div th:include="layout :: head"></div>

<div id="main">
<div class="container-fluid">
	<div th:include="layout :: left"></div>
	<div class="jumbotron navbar-left">
        <h3>Past Events</h3>
        <p><small>View all past events</small></p>
        <p>
			<a class="btn btn-info btn-large" href="./home.html" th:href="@{/admin}">Home</a>
			<a class="btn btn-primary btn-large" href="#" th:href="@{/logout}">Logout</a>
        </p>
    </div>
    <div style="width: 1px; margin-bottom: -20px">&nbsp;</div>
    
    <th:block th:if="${message != null}">
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">&nbsp;</div>
    </th:block>

<div> <!-- col-md-12 -->
	<th:block th:if="${#lists.size(pastEvents)} >= 1"> <!-- th:unless="${#lists.isEmpty(...)}" -->
    <table class="table table-hover products-table" style="margin-bottom:8px;">
		<thead>
			<tr>
			    <th>Date</th>
          		<th>Type</th>
          		<th>Name</th>
          		<th>Place</th>
          		<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="e,stat : ${pastEvents}">
				<td th:text="${#dates.format(e.dateTime)}">2014-05-01 10:00</td>
				<td th:text="${e.type}">Meeting</td>
				<td th:text="${e.name}">Annual Meeting</td>
				<td th:text="${e.place}">Office</td>
				<td>
					<a th:href="@{/admin/deleteEvent/{id}(id=${e.id},page='pastEvents')}" href="#" class="btn btn-large btn-danger">
					<big class="glyphicon glyphicon-trash"></big></a>
				</td>
			</tr>
		</tbody>
    </table>
    </th:block>
    <th:block th:if="${#lists.isEmpty(pastEvents)}">
    	<div class="alert alert-warning">There are <strong>no</strong> past events.</div>
    </th:block>
</div> <!-- /.col-md-12 -->

</div> <!-- /.container -->
</div> <!-- /.main -->
</div> <!-- /.wrap -->

<div th:include="layout :: foot"></div>
</body>
</html>