<!-- Model attributes: contacts -->
<!-- 	  navigation - see layout.html -->
<!--      message is for massages from controller -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/css/core.css}" />
    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <title>Contacts</title>
</head>
<body>

<div class="wrap">
<div th:include="layout :: head"></div>

<div id="main">
<div class="container-fluid">
	<div th:include="layout :: left"></div>
	<div class="jumbotron navbar-left">
        <h3>Contacts</h3>
        <p><small>View contacts of all employees</small></p>
        <p>
			<a class="btn btn-info btn-large" href="./home.html" th:href="@{/}">Home</a>
			<a class="btn btn-primary btn-large" href="#" th:href="@{/logout}">Logout</a>
        </p>
    </div>
    <div style="width: 1px; margin-bottom: -20px">&nbsp;</div>
    
    <th:block th:if="${message != null}">
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">&nbsp;</div>
    </th:block>

<div> <!-- col-md-12 -->
	<th:block th:if="${#lists.size(contacts)} >= 1">
    <table class="table table-hover products-table" style="margin-bottom:8px;">
		<thead>
			<tr>
				<th>Employee</th>
          		<th>Position</th>
          		<th>Department</th>
          		<th>Telephone</th>
          		<th>Email</th>
          		<!-- <th>Date of Birth</th> -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="c,stat : ${contacts}">
				<td th:text="${c.firstName}+' '+${c.lastName}">Juraj Longo</td>
				<td th:text="${c.position}">Manager</td>
				<td th:text="${c.department}">Marketing</td>
				<td th:text="${c.telephone}">191708654333</td>
				<td th:text="${c.email}">juraj.longo@bluepumpkin.com</td>
				<!-- <td th:text="${#dates.format(c.dateTime)}">1983-05-01</td> -->
			</tr>
		</tbody>
    </table>
    </th:block>
    <th:block th:if="${#lists.isEmpty(contacts)}">
    	<div class="alert alert-warning">There are <strong>no</strong> contacts.</div>
    </th:block>
</div> <!-- /.col-md-12 -->

</div> <!-- /.container -->
</div> <!-- /.main -->
</div> <!-- /.wrap -->

<div th:include="layout :: foot"></div>
</body>
</html>