<!-- Model attributes: participations, birthdays, 
		  sportsEvent with score teamOne teamTwo -->
<!-- 	  navigation - see layout.html -->
<!--      message is for messages from controller (eg.You've successfully canceled your part. request.) -->

<!-- URIs: /participations/{id}/cancel(id=${p.id},page='home')
 in controller: @RequestMapping(value="/participations/{id}/cancel") 
 				public String someHandlerMethod(@PathVariable String id, @RequestParam("page") String page)
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet"  type="text/css" media="screen" th:href="@{/css/core.css}" />
<!--     <script src="http://code.jquery.com/jquery-latest.js"></script> -->
    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <title>Home</title>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Teams</h4>
            </div>
            <div class="modal-body row" id="myModalBody">
            	<th:block th:if="${sportsEvent != null}">
            	<div class="col-md-6">
            	<table class="table table-hover products-table">
            		<thead>
						<tr>
			          		<th></th>
			          		<th>Team 1</th>
			          		<!-- <th>Position</th> -->
							<th></th><!-- Department -->
						</tr>
					</thead>
					<tbody>
					<tr th:each="member,stat : ${sportsEvent.teamList[0].employeeList}" style="min-height: 60px;">
						<td th:text="${stat.count}+'.'"><small>1.</small></td>
						<td th:text="${member.firstName}+' '+${member.lastName}"><small>Juraj Longo</small></td>
						<td th:text="${member.position}">Manager</td>
						<!-- <td th:text="${member.department}"><small>Marketing</small></td> -->
					</tr>
					</tbody>	
				</table>
				</div>
				<div class="col-md-6">
				<table class="table table-hover products-table">
					<thead>
						<tr>
			          		<th>Team 2</th>
			          		<!-- <th>Position</th> -->
							<th></th>
						</tr>
					</thead>
					<tr th:each="memb,stat : ${sportsEvent.teamList[1].employeeList}" style="min-height: 60px;">
						<td th:text="${memb.firstName}+' '+${memb.lastName}"><small>Juraj Longo</small></td>
						<td th:text="${memb.position}">Manager</td>
						<!-- <td th:text="${memb.department}"><small>Marketing</small></td> -->
					</tr>	
				</table>
				</div>
				</th:block>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

<div class="wrap">
<div th:include="layout :: head"></div>

<div id="main">
<div class="container-fluid">
	<div th:include="layout :: left"></div>
	<div class="jumbotron navbar-left">
        <h3>Home</h3>
        <p><small>View status of your participation requests</small></p>
        <p>
			<!-- <a class="btn btn-info btn-large" href="./home.html" th:href="@{/}">Home</a> -->
			<a class="btn btn-primary btn-large" href="/logout" th:href="@{/logout}">Logout</a> <!-- href="page.html" -->
        </p>
    </div>
    
    <div class="col-md-3 pull-right">
	<th:block th:unless="${#lists.isEmpty(birthdays)}">
		<h4 class="text-center">Today's Birthdays</h4>
		<table class="table table-hover table-condensed products-table" style="margin-bottom:8px;">
			<tr th:each="employee,stat : ${birthdays}">
				<td th:text="${employee.firstName}+' '+${employee.lastName}">Juraj Longo</td>
				<!-- <td th:text="${employee.department}">Marketing</td> -->
				<td th:text="${employee.position}">Manager</td>
				<td>Age <span class="badge" th:text="${employee.age}">52</span></td>
			</tr>	
		</table>
	</th:block>
	<th:block th:if="${#lists.isEmpty(birthdays)}">
    		<div class="alert alert-info" style="margin-bottom:8px;">There are no birthdays today.</div>
    </th:block>
	</div>
	
    <div style="width: 1px; margin-bottom: -20px">&nbsp;</div>
    
    <th:block th:if="${message != null}">
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">&nbsp;</div>
    </th:block>

<!-- <div class="row">   --> 
<div class="col-md-9"> <!-- col-md-12  style="min-height:350px;"-->
	<th:block th:if="${#lists.size(participations)} >= 1"> <!-- th:unless="${#lists.isEmpty(participations)}" -->
    <table class="table table-hover products-table" style="margin-bottom:8px;">
		<thead>
			<tr>
			    <th>Date</th>
          		<th>Type</th>
          		<th>Name</th>
          		<th>Place</th>
          		<th>Status</th>
				<th>Cancel</th>
<!-- 			<th class="text-center"> </th> -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="p,stat : ${participations}">			
				<!-- ISO: 2015-01-19T18:14:43.951+01:00 -->
				<!-- Pondelok, 2015, januára 19 18:14:43 CET -->
				<!-- <td th:text="${#dates.format(p.eventID.dateTime)}">2014-05-01 21:13:20.165</td> -->
				<td th:text="${#calendars.format(p.eventID.dateTime,'dd. MMMM yyyy HH:mm')}">1. May 2014 10:00</td>
				<td th:text="${p.eventID.type}">Meeting</td>
				<td th:text="${p.eventID.name}">Annual Meeting</td>
				<td th:text="${p.eventID.place}">Office</td>
				<td th:switch="${p.status}">
					  <div th:case="'Waiting'" class="label label-info" th:text="${p.status}">Waiting</div>
					  <div th:case="'Approved'" class="label label-success" th:text="${p.status}">Approved</div>
					  <div th:case="'Denied'" class="label label-danger" th:text="${p.status}">Denied</div>
					  <div th:case="*" class="label label-default">N/A</div>
				</td>
				<td th:if="${p.status != 'Denied'}">
					<!-- "@{|/participations/${p.id}/cancel(page='home')|}" try -->
					<a th:href="@{/participations/{id}/cancel(id=${p.id},page='home')}" href="#" class="btn btn-large btn-danger">
					<big class="glyphicon glyphicon-remove"></big></a>
				</td>
				<td th:if="${p.status == 'Denied'}"><a href="#" class="btn btn-large btn-danger" disabled="disabled"><big class="glyphicon glyphicon-remove"></big></a></td>
			</tr>
		</tbody>
    </table>
    </th:block>
    
    <th:block th:if="${#lists.isEmpty(participations)}">
    	<div class="alert alert-warning">You have <strong>no</strong> participation requests.</div>
    </th:block>
</div> <!-- /.col-md-9 -->

<div class="col-md-3 pull-right">
	<th:block th:if="${sportsEvent != null}">
		<h4 class="text-center">Recent Sports Event</h4>
		<table class="table table-hover table-condensed products-table" style="margin-bottom:8px;">
			<tr><td class="text-center" th:text="${#calendars.format(sportsEvent.dateTime,'dd. MMMM yyyy HH:mm')}">1. May 2014 10:00</td></tr>
			<tr><td class="text-center" th:text="${sportsEvent.name}">Football</td></tr>
			<tr><td class="text-center" th:text="${sportsEvent.place}">Near Football Stadium</td></tr>
			<tr><td class="text-center"><a href="#" data-toggle="modal" data-target="#myModal">
				    <big><strong class="text-info" th:text="${sportsEvent.teamList[0].score}+' : '+${sportsEvent.teamList[1].score}">
				    10 : 15</strong></big></a></td></tr>
		</table>
	</th:block>
	<th:block th:if="${sportsEvent == null}">
		<div class="alert alert-info" style="margin-bottom:8px;">There is no sports event.</div>
	</th:block>
</div>
<!-- </div> --> <!-- /.row -->
</div> <!-- /.container -->
</div> <!-- /.main -->
</div> <!-- /.wrap -->

<div th:include="layout :: foot"></div>
</body>
</html>